manifest {
	contributors = [name: 'Richard Ellis', affiliation: 'Animal and Plant Health Agency, UK']
	homePage = "https://github.com/APHA-CSU/Strepsuis_seq"
    description = "APHA's Nextflow implementation of the Streptococcus suis serotyping"
    mainScript = "main.nf"
}

// docker configuration
docker { 
    enabled = true
    fixOwnership = true
    runOptions = '--user "$(id -u):$(id -g)"'
}

// reference file locations
params.adapters = "$projectDir/assets/adapters.fas"
params.sero_db = "$projectDir/assets/Serotype/Ssuis_serotype.fas"
params.sero_def = "$projectDir/assets/Serotype/Ssuis_serotype_def.txt"
params.recN_ref = "$projectDir/assets/recN/Ss-recN.fas"
params.mlst_db = "$projectDir/assets/MLST/Ssuis_MLSTalleles.fas"
params.mlst_def = "$projectDir/assets/MLST/Ssuis_Profiles.txt"
params.virulence_ref = "$projectDir/assets/Virulence/Ssuis_virulence.fas"
params.cps_ref = "$projectDir/assets/Serotype/cps2K"

// input and output
params.dataDir = params.reads.tokenize('/')[-2]
params.outdir = "${env('PWD')}"
