manifest {
	author = "Richard Ellis"
	homePage = "https://github.com/APHA-CSU/Strepsuis_seq"
    description = "APHA's Nextflow implementation of the Streptococcus suis serotyping"
    mainScript = "main.nf"
}

// docker configuration
docker { 
    enabled = true
    fixOwnership = true
    runOptions = '--user "$(id -u):$(id -g)"'
}

params.adapters = "$projectDir/assets/adapters.fas"
params.sero_db = "$projectDir/assets/Serotype/Ssuis_serotype.fas"
params.sero_def = "$projectDir/assets/Serotype/Ssuis_serotype_def.txt"
params.outdir = "$PWD"